/*base styles*/
body
{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header
{
    color: black;
    text-align: center;
}
#logo
{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 70px;
}
nav
{ 
    background-color: #2b472b; 
    padding: 5px;
}
nav ul
{
    text-align: center;
    font-size: 1.2em;
}
nav ul li
{
    list-style-type: none;
    background-color: white;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
nav ul li:hover
{
    background-color: #9fe49f;
}
nav ul li a
{
    color: black;
    text-decoration: none;
}
footer
{
    padding: 10px;
    background-color: #2b472b;
    margin-top: auto;
}
footer p
{
    text-align: center;
    color: white;
}
/*specific styles for main page*/
.cities
{
    color: #2b472b;
    padding-bottom: 20px;
    padding-left: 15px;
}
.cities h2
{
    text-align: center;
}
.cities p
{
    width: 60%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    text-align: justify;
}
.cities::after
{
    content: "";
    clear: both;
    display: table;
}