/*specific styles for Czechia page*/
*
{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body
{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;   
}
main
{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.navbar
{
    height: 12%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
#logo
{
    width: 150px;
    margin-top: 15px;
}
.navbar h1
{
    float: left;
    margin-left: 5px;
    font-size: 30px;
    margin-top: 10px;
}
button
{
    text-align: center;
    width: 120px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    display: inline-block;
    margin-left: auto;
    transition: transform 0.5s;
}
button:hover
{
    transform: scale(1.1, 1.1);
}
button a
{
    text-decoration: none;
    color: black;
}
header
{
    height: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
h1
{
    color: white;
    font-size: 80px;
    text-align: center;
}
p
{
    color: white;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
}
.content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 50px;
}
.card
{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 15px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card:hover
{
    transform: translateY(-10px);
}
.card a
{
    text-decoration: none;
}
.card h2
{
    color: white;
}
.card p
{
    text-shadow: 0 0 5px black;
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

footer
{
    padding: 10px;
    background-color: white;
    margin-top: auto;
}
footer p
{
    text-align: center;
    color: black;
}
