/*styles for the index page*/
*
{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #eee;
    background-position: center;
    background-size: cover;
}
header
{
    padding: 0px;
    margin: 0px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
header h1
{
    float: left;
    margin-left: 5px;
    font-size: 30px;
    margin-top: 35px;
    color: white;
}
#logo
{
    float: left;
    height: 100px;
}
#button
{
    text-align: center;
    width: 120px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    float: right;
    margin-top: 35px;
    margin-right: 2%;
    transition: transform 0.5s;
}
#button:hover
{
    transform: scale(1.1, 1.1);
}
#button a
{
    text-decoration: none;
    color: black;
}
main
{
    display: flex;
    box-sizing: border-box;
    padding-left: 0%;
    padding-right: 1%;
    min-height: 100vh;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}
#map
{
    align-items: center;
    width: 90%;
}
#map h2
{
    text-align: center;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #eee;
}
svg
{
    height: auto;
    width: 100%;
    align-items: center;
}
svg path
{
    fill: #FAF9F6;
    stroke: #2b472b;
    stroke-width: .25;
}
svg path:hover
{
    fill: rgba(43, 71, 43, 0.8);
    transition: 0.6s;
    cursor: pointer;
}
#top
{
    margin-right: auto;
    margin: 20px 10px;
    background-color: rgba(43, 71, 43, 0.6);
    border-radius: 10px;
    padding: 5px;
    height: 90vh;
    width: 250px;
    color: #eee;
}
#top h2
{
    text-align: center;
    font-size: 20px;
    margin-top:10px;
    margin-bottom: 10px;
}
#top ol
{
    text-align: left;
    list-style-position: inside;
    word-break: break-all; /*to prevent overflow of the text*/
    padding: 10px;
    margin-top:10px;
    margin-bottom: 10px;
}
#top span
{
    position: relative;
    left: 10px;
}
#us
{
    margin-left: auto;
    margin-top: 25px;
    background-color: rgba(43, 71, 43, 0.6);
    border-radius: 10px;
    padding: 5px;
    height: 90vh;
    width: 250px;
    color: #eee;
}
#us img
{
    width: 95%;
    margin: 5px;

}
#us h2
{
    text-align: center;
    font-size: 20px;
    margin-top:10px;
    margin-bottom: 10px;
}
#us p
{
    text-align: justify;
    font-size: 15px;
    margin: 5px 15px 10px;
}
footer
{
    background-color: rgba(107, 141, 83, 0.6);
    margin-top: auto;
    padding: 10px;
}
footer p
{
    margin-top: 3px;
    margin-bottom: 5px;
    text-align: center;
    color: #eee;
    font-size: 12px;
}
.links
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px auto 0px;
    border-top: 1px solid #eee;
}
.links a
{
    cursor: pointer;
    text-decoration: none;
    color: #eee;
    font-size: 15px;
    margin-right: 5%;
    margin-bottom: 5px;
}